<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <!-- <connectionStrings>
    <add name="MongoServerSettings" connectionString="mongodb://localhost/Testes?safe=true"/>
  </connectionStrings>-->


  <configSections>
    <sectionGroup name="mongodyn">
      <section
        name="mongo"
        type="MongoDyn.MongoSection, MongoDynamic"
        allowLocation="true"
        allowDefinition="Everywhere"
      />
    </sectionGroup>
    <!-- Other <section> and <sectionGroup> elements. -->
  </configSections>
  <mongodyn>
    <mongo database="Testes" host="localhost" port="27017"/>
  </mongodyn>
</configuration>